.manue {
  width: 150px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1.5px solid var(--theme_two);
  /* background-color: var(--background_nav); */
}

.manu_icon {
  margin: 0 auto;
}
.manu_icon li {
  padding: 3vh;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  font-size: 29px;
  color: var(--theme_two);
}
.icon3 {
  font-size: 24px;
}

.active .icon {
  color: var(--active);
}

.logo {
  width: 44px;
  height: 44px;
  margin: 3vh auto;
}

.a {
  position: relative;
  position: absolute;
  font-weight: 400;
  right: 0;
}
