:root {
  --theme: #bdbdbd;
  --active: #fd967f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
li {
  list-style: none;
}

.App {
  transition: all 0.3s;
}
@media screen and (min-width: 1300px) {
  .App {
    margin: 0 10vh;
    transition: all 0.3s;
  }
}
